{% extends 'bookings/base.html' %}

{% block title %}Crear Masajista{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="mb-4">Crear Masajista</h2>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Datos del Masajista
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'masajista-create' %}">
                            {% csrf_token %}  <!-- CSRF Token added here -->
                            {{ masajista_create_form.as_p }}
                            <button type="crear" class="btn btn-primary">Crear</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}